---
import "@/styles/globals.css";

import { getCollection, render } from "astro:content";
import Container from "@/components/container.astro";
import PageLayout from "@/layouts/page-layout.astro";
import Link from "@/components/link.astro";
import { dateRange } from "@/lib/utils";
import { SITE, ABOUT, SOCIALS } from "@/config/site";

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf()
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await render(item);
    return { ...item, Content };
  })
);
---

<PageLayout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION} type="person">
  <Container>
    <div class="space-y-10">
      <h1 class="font-bold text-primary dark:text-white">
        {ABOUT.TITLE}
      </h1>
      <section>
        <article class="space-y-4">
          <p>
            Hi, I'm Sean Burt, a software engineering graduate specializing in
            AI from the University of Victoria. I started my career at
            Hummingbird Drones, where I led the development of the Fire AI
            project, managing the web app, cloud infrastructure, and machine
            learning components. I now work at Consumer Genius, where I work 
            mainly on the data pipelines and data engineering related projects.
          </p>
          <p>
            I have a strong passion for web development, machine learning, data
            engineering, and data science. I thrive in collaborative environments, ensuring
            everyone's contributions are valued. In my spare time, I enjoy
            working on personal projects, building out a homelab, and
            taking online courses to expand my knowledge.
          </p>
          <p>
            With a focus on continuous learning and innovation, I bring
            dedication and a collaborative spirit to every project. Please take
            a moment to see my work experience below.
          </p>
        </article>
      </section>

      <section class="space-y-6">
        <div class="section-header-container">
          <h5 class="section-header">
            Work Experience
          </h5>
          <Link href="/work" class="section-link"> See all work </Link>
        </div>
        <ul class="flex flex-col space-y-4 list-none">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-primary dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="space-y-4">
        <h5 class="section-header">
          Let's Connect
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2 list-none">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
