---
import { type CollectionEntry, getCollection, getEntry } from "astro:content";
import PageLayout from "@/layouts/page-layout.astro";
import Container from "@/components/container.astro";
import FormattedDate from "@/components/formatted-date.astro";
import { readingTime } from "@/lib/utils";
import BackToPrev from "@/components/back-to-previous.astro";
import TableOfContents from "@/components/table-of-contents.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;

// const post = Astro.props;
const post = await getEntry('blog', Astro.params.slug);
const { Content, headings } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Container>
    <div class="animate">
      <BackToPrev href="/blog"> Back to blog </BackToPrev>
    </div>
    <div class="space-y-1 my-10">
      <div class="animate flex items-center gap-1.5">
        <div class="font-base text-sm">
          <FormattedDate date={post.data.date} />
        </div>
        &bull;
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
      </div>
      <h1 class="animate text-2xl font-semibold text-primary dark:text-white">
        {post.data.title}
      </h1>
    </div>
    <div class="flex flex-row space-x-8">
      <article class="flex flex-col animate w-2/3">
        <Content />
      </article>
      <div class="relative">
      <aside class="sticky animate top-20">
        <TableOfContents headings={headings} />
      </aside>
    </div>
    </div>
  </Container>
</PageLayout>
