---
import "@/styles/globals.css";

import { getCollection } from "astro:content";
import Container from "@/components/container.astro";
import PageLayout from "@/layouts/page-layout.astro";
import ArrowCard from "@/components/arrow-card.astro";
import Link from "@/components/link.astro";
import { SITE, HOME, SOCIALS } from "@/config/site";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h1 class="animate font-bold text-primary dark:text-white">
      {HOME.TITLE} 👋🏻
    </h1>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            Welcome to my site! I'm Sean, a software engineer with professional
            experience in web development and machine learning. I thrive in
            startup environments, quickly becoming productive and continuously
            seeking opportunities to learn and grow.
          </p>
          <p class="animate">
            I have worked on various projects, from developing robust ETL
            processes and integrating third-party services to leading AI-driven
            initiatives for lead generation and validation. Collaboration is key
            to my work ethic, and I actively contribute to brainstorming
            sessions and technical discussions.
          </p>
          <p class="animate">
            Visit my
            <Link href="https://github.com/sdburt" aria-label="Github" external>
              Github
            </Link>
            to see my code and explore my projects.
          </p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-primary dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-primary dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-primary dark:text-white">
          Let's Connect
        </h5>
        <article>
          <p>
            If you want to get in touch with me about something or just to say
            hi, reach out on social media or send me an email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
